*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}







.header{
  width: auto;
  height:100vh;
  background-image: url(./hello.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
 
}


.text-box{
  padding: 0px 100px;
  position: absolute;
  top: 70%;

}
.text-box h1{
  margin: 10px;
  color: rgb(239, 235, 235);
  font-size: 60px;
}
.text-box p{
  font-size: 20px;
}


  
  .topnav {
      position:absolute;
      top: 5%;
      left: 35%;
    overflow: hidden;
    
  }
  
  .topnav a {
    float: left;
    color: #151313;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topnav a:hover {
    background-color: rgb(181, 12, 12);
    color: black;
  }
  




  @media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .row {
        flex-direction: column;
    }
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
    .cta h1 {
        font-size: 24px;
    }
}
  .about {
   
    width: 80%;
    position: absolute;
    left: 10%;
    margin: auto;
    background-color: White;
    text-align: center;
    padding-top: 5px;
  
}
h2{
  position: absolute;
  left: 45%;
  top: 5%;
  text-align: left;
}







p {
  color: rgb(247, 241, 241);
  font-size: 18px;
  font-weight: lighter;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
}

.about-col {
  flex-basis: 200%;
  background: #cc9999;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}



.about-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.about-col img{
  position: absolute;
  left: 50%;
  margin: 80%;
}

.campus {
  width: 80%;
  margin: auto;
  background-color: White;
  text-align: center;
 
  
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-top: -8%;
  margin-bottom: 30px;
  position:relative;
  overflow: hidden;

}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}



.hello {
   
  width: 80%;
  position: absolute;
  left: 10%;
  margin: 42% 0;
  background-color: White;
  text-align: center;
  padding-top: -5%;

}

  h2{
    position: absolute;
    left: 45%;
    top: 3%;
    text-align: left;
  }

p {
color: rgb(247, 241, 241);
font-size: 18px;
font-weight: lighter;
line-height: 22px;
padding: 10px;
}

.row {
margin-top: 6%;
display: flex;
justify-content: space-between;
}

.hello-col {
flex-basis: 60%;
background: #095175;
border-radius: 10px;
margin-bottom: 5%;
padding: 70px 12px;
box-sizing: border-box;
transition: 0.5s;
}
.hello-col img {
  position: absolute;
  top: 28%;
  left: 80%;
  height: 150px;
  border-radius: 20%;
}
.hello-col p {
  position: absolute;
  top: 30%;
  right: 40%;

}





.Quality {
   
  width: 80%;
  position: absolute;
  left: 10%;
  margin: 60% 0;
  background-color: rgb(204, 17, 17);
  text-align: center;
  padding-top: -5%;

}

  h3{
    position: absolute;
    left: 45%;
    top: -18%;
    font-size: 25px;
    text-align: left;
  }

p {
color: rgb(247, 241, 241);
font-size: 18px;
font-weight: lighter;
line-height: 22px;
padding: 10px;
}

.row {
margin-top: 6%;
display: flex;
justify-content: space-between;
}

.Quality-col {
  position: relative;
  left: 38%;
flex-basis: 60%;
background: #095175;
border-radius: 10px;

margin-top: -4%;
margin-bottom: 5%;
padding: 80px 18px;
box-sizing: border-box;
transition: 0.5s;
}
.Quality-col img {
  position: absolute;
  top: -10%;
  right: 125%;
  height: 200px;
  border-radius: 20%;
}
.Quality-col p {
  position: absolute;
  top: 2%;

}









.testimonial {
  position: absolute;
  top: 250%;
  left: 10%;
  width: 80%;
  background: white;
  margin: auto;
  padding-top: 1px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 35%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #cc9999;
  padding: 25px;
  cursor: pointer;
  display:flexbox;
}

.testimonial-col p {
  padding: 0;
}

.testimonial-col h4 {
  font-size: 25px;
  color: rgb(237, 204, 11);
  margin-top: -20px;
  text-align: left;
}

.testimonial-col h5 {
  font-size: 25px;
  color: rgb(237, 204, 11);
  margin-top: -20px;
  text-align: left;
}

.testimonial-col .fa {
  color: #f11414;
}
.vision img{
  position: absolute;
  top: 72px;
  left: 40%;
 height: 250px;
 width: 250px;
}



.corporate {
   
  width: 80%;
  position: absolute;
  left: 10%;
  margin: 100% 0;
  background-color: rgb(204, 17, 17);
  text-align: center;
  padding-top: -15%;
  border-radius: 10px;

}

.corporate h3{
    position: absolute;
    left: 45%;
    top: -18%;
    font-size: 25px;
    text-align: left;
  }

.corporate p {
color: rgb(247, 241, 241);
font-size: 18px;
font-weight: lighter;
line-height: 22px;
padding: 10px;
}

.corporate row {
margin-top: 6%;
display: flex;
justify-content: space-between;
}

.corporate-col {
  position: relative;
  left: 38%;
flex-basis: 60%;
background: #095175;
border-radius: 10px;

margin-top: -4%;
margin-bottom: 3%;
padding: 80px 18px;
box-sizing: border-box;
transition: 0.5s;
}
.corporate-col img {
  position: absolute;
  top: -10%;
  right: 125%;
  height: 200px;
  border-radius: 20%;
}
.corporate-col p {
  position: absolute;
  top: 2%;

}

.business{
  width: 80%;
  position: absolute;
  left: 10%;
  background-color: rgb(230, 196, 196);
  position: absolute;
  top: 340%;
  border-radius: 10px;
  color: #151313;
  border: 10px solid #f7fafa;
}
.business p{
 
  
  text-align: center;
  color: #151313;
}

.business h6{
  position: absolute;
    left: 45%;
    top: -25%;
    font-size: 25px;
    text-align: left;

}
.moreText{
  display: none;

}
.read-more-btn{
  padding: 5px 20px;
  background-color: #095175;
  color: #151313;
  outline: none;
  font-size: 10px;
  cursor: pointer;
}
.text.show-more .moreText{
display: inline;  
}




.CEO {
   
  width: 80%;
  position: absolute;
  top: 175%;
  left: 10%;
  margin: 100% 0;
  background-color: rgb(204, 17, 17);
  text-align: center;
  padding-top: -15%;
  border-radius: 10px;

}

.CEO h7{
    position: absolute;
    left: 45%;
    top: -18%;
    font-size: 25px;
    text-align: left;
  }

.CEO p {
color: rgb(247, 241, 241);
font-size: 18px;
font-weight: lighter;
line-height: 22px;
padding: 10px;
}

.CEO row5 {
margin-top: 6%;
display: flex;
justify-content: space-between;
}

.CEO-col {
  position: relative;
  left: 38%;
flex-basis: 60%;
background: #095175;
border-radius: 10px;

margin-top: -4%;
margin-bottom: 3%;
padding: 80px 18px;
box-sizing: border-box;
transition: 0.5s;
}
.CEO-col img {
  position: absolute;
  top: -10%;
  right: 125%;
  height: 200px;
  border-radius: 20%;
}
.CEO-col p {
  position: absolute;
  top: 2%;

}



@media only screen and (max-width: 756px) {
  .about {   
    top:100%;
}
.corporate {  
  top:145%;
}
.hello {
  top:160%;
  }
  .hello h2{
    top: 320%;
  }
.Quality {  
  top:285%;
}
.testimonial {
  top: 350%;
}
.business{
  top: 402%;
}
}









